services:
  autoheal:
    container_name: vps-torrent-autoheal
  openvpn:
    container_name: vps-torrent-openvpn
    environment:
      - OPENVPN_CONFIG_FILE=vpn.conf
      - SUBNETS=10.88.23.0/24,10.88.24.0/24
    ports:
      # port for incoming torrent connections
      - 6881:6881
      # webui port
      - 8080:8080
    networks:
      portal:
        ipv4_address: 10.88.23.10
  qbittorrent:
    container_name: vps-torrent-qbittorrent
    environment:
      - TZ=America/New_York
      - UIDGID=1000:1000
      - UMASK=027
      - WEBUI_HTTPS=1
      - WEBUI_PORT=443
      - WEBUI_AUTH=1
      - WEBUI_USER=admin
      # use hash-password.sh to generate the hash
      - WEBUI_PASS=6BgjolEb6GHnSX/n/33YtQ==:UX/01/RmOzo9g08hQ/abqmNwz1A1wUe9x5D2Aprx91/GYj6Rolg4BvYkbFa4ayjrcwutqPrL7W5Bg3htHIWUVQ==
      - QB_DHT=1
      - QB_PEX=1
      - QB_LSD=0
      - QB_ANONYMOUS=1
      - QB_LIMIT_DL=3000
      - QB_LIMIT_UP=100
      - QB_LIMIT_ALT_DL=1500
      - QL_LIMIT_ALT_UP=100
    volumes:
      - /mnt/.torrents_config:/config
      - /mnt/torrents:/downloads
  wireguard:
    container_name: vps-torrent-portal-wg
    image: lscr.io/linuxserver/wireguard:latest
    cap_add:
      - NET_ADMIN
    environment:
      - UMASK=027
      - PUID=1000
      - PGID=1000
      - SERVERURL=your-domain-here.com
      - INTERNAL_SUBNET=10.88.24.0
      - PEERS=user1,user2,user3
      - ALLOWEDIPS=10.88.23.0/24
      - TZ=America/New_York
    volumes:
      - ./wireguard-config:/config
    ports:
      - 51820/udp
    networks:
      - portal
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped

networks:
  portal:
    ipam:
      driver: default
      config:
        - subnet: "10.88.23.0/24"
